.btn-cadastrar, 
.btn-horarios
{
    background-color: rgba(136, 185, 249, 0.79);
    border: none;
    border-radius: 1.5vh;
    width: 30vh;
    height: 4.5vh;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-cadastrar:hover,
.btn-horarios:hover
{
    font-weight: bold;

}

.box 
{
    width: 50%;
    float: left;
    height: 40%;
}

.linha-vertical 
{
    border-left: 2px solid;
    box-sizing: border-box;
    
}

p
{
    text-align: justify;
    width: 90%;
    font-size: large;
}


.p-buscar{
    text-align: justify;
    padding-left: 1vh;
}